* 
{
  box-sizing: border-box;
}

body 
{
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 
{
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}
.menu 
{
  margin-top: 20px;
}

.btn-container 
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.btn-item 
{
  margin-left: 15px;
}

.photo 
{
  width: 175px;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
  flex: none;
}
.menu-items 
{
  display: flex;
  margin: 20px 0;
}
.menu-info 
{
  margin-left: 20px;
  width: 100%;
}
.menu-title 
{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

h4 
{
  color: #e00a00;
}

.menu-text 
{
  padding-top: 20px;
}
button
{
  background-color: #f1f5f8;
  border: 1px solid #212529;
  padding: 7px 12px;
  border-radius: 5px;
  margin: 15px;
}
button:hover
{
  background-color: #212529;
  color: #f1f5f8;
}